can:
  channel: {{can_channel}}
  bustype: {{can_bustype}}
  host: {{can_host}}
  port: {{can_port}}
mqtt:
  host: {{mqtt_host}}
  port: {{mqtt_port}}
  username: {{mqtt_username}}
  password: {{mqtt_password}}
sensor:
  prefix: {{vehicle_name}}